<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <form>
    <label for="word1">Word 1:
      <input type="text" #word1 value=""/>
    </label>

    <label for="word1">Word 2:
      <input type="text" #word2 value=""/>
    </label>

    <button type="button" (click)="isAnagram(word1.value, word2.value)">Submit</button>
    {{ (isAnagramMsg !== '') ? isAnagramMsg : '' }}
  </form>
</div>
<router-outlet></router-outlet>
